<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kogile.checklist.mapper.ChecklistMapper">

	<!-- insert문 -->
	<insert id="insert">
		insert into checklist (checklist_no, check_title, p_no)
		values (checklist_seq.nextval, #{check_title}, #{p_no})
	</insert>
	
	
	<select id="read" resultType="kogile.checklist.domain.ChecklistVO">		
		select * from checklist 
		where p_no = #{p_no}
		order by checklist_no
	</select>
	
	
	<delete id="delete">
		delete checklist where checklist_no = #{checklist_no}
	</delete>
	
	<update id="update">
		update checklist 
		set check_title = #{check_title}
	    where checklist_no = #{checklist_no}
	</update>
	
	
	<insert id="insertList" parameterType="kogile.checklist.domain.ListVO">
		insert into list
		values(list_seq.nextval, #{list_info}, 0, #{checklist_no})
	</insert>
	
	<select id="listList" resultType="kogile.checklist.domain.ListVO">
		select * from list
		where checklist_no = #{checklist_no}
		order by list_no
	</select>
	
	<delete id="deleteList">
		delete from list
		where list_no = #{list_no}
	</delete>
	
	<update id="updateList" parameterType="kogile.checklist.domain.ListVO">
		update list set
		list_info = #{list_info}
		where list_no = #{list_no}
	</update>
	
	<update id="updateCheck" parameterType="kogile.checklist.domain.ListVO">
		update list set
		checked = #{checked}
		where list_no = #{list_no}
	</update>
	
	<select id="percent" resultType="int">
		select (sum(checked)/count(checked))*100 from list
		where checklist_no = #{checklist_no}
	</select>
	
</mapper>
