<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kogile.project.mapper.ProjectMapper">

	<select id="list" resultType="kogile.project.domain.ProjectVO">
		SELECT /*+ INDEX_ASC(i XPK초대) INDEX_ASC(p XPK프로젝트) */ p.pjt_no, p.pjt_title from invite i
		JOIN project p
		on p.pjt_no = i.pjt_no
		where i.total_m_no = #{total_m_no}
	</select>
	
	<insert id="insert" parameterType="kogile.project.domain.ProjectVO">
		<selectKey keyProperty="pjt_no" order="BEFORE" resultType="Integer">
			SELECT pjt_no.nextval FROM dual
		</selectKey>
		INSERT INTO project
		VALUES(#{pjt_no}, sysdate, #{pjt_title}, #{total_m_no}, #{pjt_contents})
	</insert>
	
	<insert id="insert_invite" parameterType="kogile.invite.domain.InviteVO">
		<selectKey keyProperty="invite_no" order="BEFORE" resultType="Integer">
			SELECT invite_seq.nextval FROM dual
		</selectKey>
		INSERT INTO invite
		VALUES(#{invite_no}, #{grade}, #{pjt_no}, #{total_m_no} )
	</insert>
	
	<insert id="insert_prjinfo" parameterType="kogile.project.domain.Prj_infoVO">
		INSERT INTO prj_info
		VALUES(info_no_seq.nextval, #{invite_no})
	</insert>
	
	<insert id="insert_card">
		insert all
		into card values(card_seq.nextval, 'To Do', 1, #{pjt_no})
		into card values(card_seq.nextval+1, 'Doing', 2, #{pjt_no})
		into card values(card_seq.nextval+2, 'Done', 3, #{pjt_no})
		into card values(card_seq.nextval+3,'Close', 4, #{pjt_no})
		select * from dual
	</insert>
	
	<update id="drag_post" parameterType="kogile.project.domain.DragVO">
		update post set c_no = #{new_c_no}
		where p_no = #{p_no}
	</update>
	
	<select id="project_info" resultType="kogile.project.domain.ProjectVO">
		select * from project
		where pjt_no = #{pjt_no}
	
	</select>
	
	<update id="modify" parameterType="kogile.project.domain.ProjectVO">
		update project set
		pjt_title = #{pjt_title},
		PJT_CONTENTS = #{pjt_contents}
		where pjt_no = #{pjt_no}
	</update>
	
	<select id="master_info" resultType="kogile.project.domain.UserVO">
		select distinct t.total_m_no, e.exter_mem_name as name, e.exter_m_email as mail
    	from external_m_info e join total_member t
    	on t.EXTER_M_NO = e.EXTER_M_NO
    	where t.total_m_no = #{total_m_no}
    	UNION
    	select distinct t.total_m_no, i.member_name as name, i.email as mail 
    	from inter_m_info i join total_member t
        on t.member_no = i.member_no
        where t.total_m_no = #{total_m_no}
	</select>
	
	<delete id="delete">
		delete from project
		where pjt_no = #{pjt_no}
	</delete>

</mapper>