<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kogile.reply.mapper.ReplyMapper">

	<insert id="insertReply" parameterType="kogile.reply.domain.ReplyVO">
		insert into reply values(reply_seq.nextval,#{r_contents},sysdate,#{p_no},#{info_no})
	</insert>
	
	<delete id="deleteReply">
		delete from reply where r_no=#{r_no}
	</delete>
	
	<update id="updateReply" parameterType="kogile.reply.domain.ReplyVO">
		update reply set r_contents = #{r_contents} 
				where r_no = #{r_no}
	</update>
	
	<!-- 작성자때문에 멤버이름 가져오기 -->
	<select id="replyList" parameterType="long" resultType="kogile.reply.domain.ReplyVO">
		select /*+ INDEX_asc(reply XPK댓글) */
		r.r_no, r.r_contents, r.r_date, r.p_no, r.info_no, e.exter_mem_name as name
    From reply r
    join prj_info p
    on r.info_no = p.info_no
    join invite i
    on p.invite_no = i.invite_no
    join total_member t
    on i.total_m_no = t.total_m_no
    join external_m_info e
    on t.exter_m_no = e.exter_m_no
    WHERE r.p_no =#{p_no}
	</select>
	<select id="replyList2" parameterType="long" resultType="kogile.reply.domain.ReplyVO">
	select /*+ INDEX_asc(reply XPK댓글) */
	r.r_no, r.r_contents, r.r_date, r.p_no, r.info_no, im.member_name as name
    From reply r
    join prj_info p
    on r.info_no = p.info_no
    join invite i
    on p.invite_no = i.invite_no
    join total_member t
    on i.total_m_no = t.total_m_no
    join inter_m_info im
    on t.member_no = im.member_no
    where r.p_no =#{p_no}
	</select>

</mapper>
