<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kogile.reply.mapper.ReplyMapper">

	<insert id="insertReply" parameterType="kogile.reply.domain.ReplyVO">
		insert into reply values(reply_seq.nextval,#{r_contents},sysdate,#{p_no},#{info_no},#{taged_name})
	</insert>
	
	<delete id="deleteReply">
		delete from reply where r_no=#{r_no}
	</delete>
	
	<update id="updateReply" parameterType="kogile.reply.domain.ReplyVO">
		update reply set r_contents = #{r_contents} 
				where r_no = #{r_no}
	</update>
	
	<!-- 작성자때문에 멤버이름 가져오기 -->
	<select id="replyList" parameterType="int" resultType="kogile.reply.domain.ReplyVO">
	select /*+ INDEX_desc(r XPK댓글) INDEX_asc(p pk_prj_info) INDEX_asc(i XPK초대) INDEX_asc(e XPK외부회원정보)*/
	r.r_no, r.r_contents, r.r_date, r.p_no, r.info_no, e.exter_mem_name as name, r.taged_name
    From reply r
    join prj_info p
    on r.info_no = p.info_no
    join invite i
    on p.invite_no = i.invite_no
    join total_member t
    on i.total_m_no = t.total_m_no
    join external_m_info e
    on t.exter_m_no = e.exter_m_no
    where r.p_no=#{p_no}
	</select>
	
	<select id="replyList2" parameterType="int" resultType="kogile.reply.domain.ReplyVO">
	select /*+ INDEX_desc(r XPK댓글) INDEX_asc(p pk_prj_info) INDEX_asc(i XPK초대) INDEX_asc(im XPK내부회원정보)*/
	r.r_no, r.r_contents, r.r_date, r.p_no, r.info_no, im.member_name as name, r.taged_name
    From reply r
    join prj_info p
    on r.info_no = p.info_no
    join invite i
    on p.invite_no = i.invite_no
    join total_member t
    on i.total_m_no = t.total_m_no
    join inter_m_info im
    on t.member_no = im.member_no
    where r.p_no =#{p_no}
	</select>
	
	<select id="writer_info" parameterType="kogile.invite.domain.InviteVO" resultType="int">
		select distinct p.info_no from prj_info p
		join invite i on p.invite_no = i.invite_no
		where i.pjt_no=#{pjt_no} and i.total_m_no=#{total_m_no}
	</select>
	
	<!-- 태그 -->
	<!-- 댓글번호가져오기 -->
	<select id="replyNum" resultType="int">
		select r_no from reply where ROWNUM=1 order by r_no desc
	</select>
	<!-- 태그하기 -->
	<insert id="insertTag" parameterType="kogile.reply.domain.TagVO">
		INSERT INTO tag VALUES (TAG_SEQ.nextval, #{r_no},#{info_no})
	</insert>
	
	<!-- 태그 될 맴버 가져오기 -->
	<select id="tagMember" parameterType="int" resultType="kogile.reply.domain.TagVO">
	select DISTINCT p.info_no,e.exter_mem_name as name,tm.total_m_no
    from prj_info p
    join invite i
    on p.invite_no = i.invite_no
    join total_member tm
    on i.total_m_no = tm.total_m_no
    join external_m_info e
    on tm.exter_m_no = e.exter_m_no
    where i.pjt_no =#{pjt_no}
	</select>
	
	<select id="tagMember2" parameterType="int" resultType="kogile.reply.domain.TagVO">
	select DISTINCT p.info_no ,im.member_name as name,tm.total_m_no
    from prj_info p
    join invite i
    on p.invite_no = i.invite_no
    join total_member tm
    on i.total_m_no = tm.total_m_no
    join inter_m_info im
    on tm.member_no = im.member_no
    where i.pjt_no =#{pjt_no}
	</select>
	
	
	<!-- 태그된 사람에게 알림 보내기 -->
	<insert id="insertTagNotice" parameterType="kogile.reply.domain.TagVO">
		insert  into notice values(NOTICE_SEQ.nextval,null,#{tag_no},'게시물에 태그됐습니다.',sysdate,#{total_m_no}, 1)
	</insert>
	<!-- 태그된 사람에게 알림 보내기 위해서 태그 넘버가져오기 -->
	<select id="tagNum" resultType="int">
		select tag_no from tag where ROWNUM=1 order by tag_no desc
	</select>
	<!-- 태그된 사람에게 알림 보내기 위해 태그된 사람넘버 가져오기 -->
	<select id="tag_total_m_no" resultType="int" parameterType="int">
		select DISTINCT tm.total_m_no
    from prj_info p
    join invite i
    on p.invite_no = i.invite_no
    join total_member tm
    on i.total_m_no = tm.total_m_no
    where p.info_no =#{info_no}
	</select>

</mapper>
