<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kogile.post.mapper.PostMapper">

	<select id="list_post" resultType="kogile.post.domain.PostVO">
		select /*+ INDEX_ASC(p XPK포스트) INDEX_ASC(c XPK카드) */ * from post p
		join card c
		on c.c_no = p.c_no
		where c.pjt_no = #{pjt_no}
		
	</select>

	<select id="card_no_info" resultType="kogile.project.domain.CardVO">
		select /*+ INDEX_asc(card XPK카드) */ * from card
		where pjt_no = #{pjt_no}
	</select>
	
	
</mapper>