@charset "UTF-8";

.add_input{
	margin-left : 0px;
	border:1px solid #dbdbdb;
	width: 70%;
	height: 100px;
	border-radius: 5px;
	display: block;
	/* box-shadow: 2px 2px 5px rgba(0,0,0,0.1); */
	padding: 5px;
	box-sizing: border-box;
}

.right_list{float: right;margin-left: 100px;}
.right_list .holder{margin-bottom: 10px;}
.title_c{color: #999;font-size: 15px;}
.btn_list{margin-top: 10px;}
.btn_list a{display: block;font-weight: 600;font-size:14px;color: #666;border-radius: 5px;display: block;box-shadow: 2px 2px 5px rgba(0,0,0,0.1);padding: 10px 5px 10px 30px;box-sizing: border-box;margin-bottom: 10px;width: 170px;}
.addcard_holder .btn_list a:active{background: #17394d;}
.addcard_holder .btn_list a.mem_btn{background:#f1f1f1 url(../images/members.png)left 10px center no-repeat;background-size:12px;}
.addcard_holder .btn_list a.label_btn{background:#f1f1f1 url(../images/label.png)left 10px center no-repeat;background-size:12px;}
.addcard_holder .btn_list a.check_btn{background:#f1f1f1 url(../images/check_list.png)left 10px center no-repeat;background-size:12px;}
.addcard_holder .btn_list a.due_btn{background:#f1f1f1 url(../images/time.png)left 10px center no-repeat;background-size:12px;}
.addcard_holder .btn_list a.atta_btn{background:#f1f1f1 url(../images/attach.png)left 10px center no-repeat;background-size:12px;}
.ups_holder .holder_inner{margin: 10px 0 20px 10px;padding-left: 0;}
.ups_holder .holder_inner a{text-decoration: underline;}
.ups_holder .holder_inner a:hover{color: #6b808c;}
.action_holder .btn_list a.move_btn{background:#f1f1f1 url(../images/move.png)left 10px center no-repeat;background-size:12px;}
.action_holder .btn_list a.copy_btn{background:#f1f1f1 url(../images/copy.png)left 10px center no-repeat;background-size:12px;}
.action_holder .btn_list a.watch_btn{background:#f1f1f1 url(../images/watch.png)left 10px center no-repeat;background-size:12px;}
.action_holder .btn_list a.arc_btn{background:#f1f1f1 url(../images/arcive.png)left 10px center no-repeat;background-size:12px;}
.action_holder .btn_list a.share_btn{background:#f1f1f1 url(../images/share.png)left 10px center no-repeat;background-size:12px;}

/* lable */
/* .label_list{padding: 0 10px;overflow-x: hidden;overflow-y: auto;} */
/* .label_list input{background-color: #ebeef0; border: none;box-shadow: inset 0 0 0 2px #dfe3e6;padding: 8px 10px;font-size: 14px;width: 100%;box-sizing: border-box;}
.label_list input::placeholder {color: #738792;} */
.label_list ul li{overflow: hidden;margin-bottom: 2px;}
.label_list ul li span{display: inline-block;min-height: 35px;box-sizing: border-box;color: #fff;font-size: 14px;font-weight: 600;width:100px;float: left;border-radius: 3px;cursor: pointer;margin-left: 0px;}
.label_list ul li span.green{background: #61bd4f;}
.label_list ul li span.yellow{background: #f2d600;}
.label_list ul li span.orange{background: #ff9f1a;}
.label_list ul li span.red{background: #eb5a46;}
.label_list ul li span.blue{background: #0079bf;}
.label_list ul li span.sky{background: #00c2e0;}
.label_list ul li .card_edit{float: right;background: url(../images/creat.png)center center no-repeat;width: 25px;height: 35px;display: inline-block;opacity: 0.5;border-radius: 3px;margin-left: 8px;box-sizing: border-box;}
.label_list ul li .card_edit:hover{background:#ccc url(../images/creat.png)center center no-repeat;}
/* .label_btm a{display: block;color: #6b808c;border-radius: 3px;padding: 10px 12px;margin: 5px 0;font-size: 14px;text-decoration: underline;}
.label_btm a:hover{background-color: rgba(9,45,66,.13);color: #17394d;}
.label_btm  hr{background-color: rgba(9,45,66,.13);border: 0;height: 1px;margin: 2px 0;padding: 0;width: 100%;} */
.action_holder .btn_list a.share_btn{background:#f1f1f1 url(../images/share.png)left 10px center no-repeat;background-size:12px;}

.labelcolor_red{
	background: #eb5a46;
	border: 1px solid;
}

.labelcolor_green{
	background: #61bd4f;
	border: 1px solid;
}

.labelcolor_orange{
	background: #ff9f1a;
	border: 1px solid;
}

.labelcolor_yellow{
	
	background: #f2d600;
	border: 1px solid;
}
.label_radio{
	width: 100px;
	height: 30px;
}

.label_select{
	width: 400px;
	height: 40px;
}

.radio-inline{
	display: inline;
}

.label_list2 li{overflow: hidden;margin-bottom: 2px; display : inline;}
.label_list2 li span{display: inline-block;min-height: 35px;box-sizing: border-box;color: #fff;font-size: 14px;font-weight: 600;width:100px;float: left;border-radius: 3px;cursor: pointer;margin-left: 5px; margin-right:5px;}
.label_list2 li span.green{background: #61bd4f;}
.label_list2 li span.yellow{background: #f2d600;}
.label_list2 li span.orange{background: #ff9f1a;}
.label_list2 li span.red{background: #eb5a46;}
.label_list2 li span.blue{background: #0079bf;}
.label_list2 li span.sky{background: #00c2e0;}
