<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kogile.label.mapper.LabelMapper">
  
  	<select id="listLabel" resultType="kogile.label.domain.LabelVO">
  		select /*+ INDEX_ASC(label XPK라벨) */ * from label
  		where pjt_no = #{pjt_no}
  	</select>
  	
  	<insert id="insertLabel" parameterType="kogile.label.domain.LabelVO">
  		insert into label
  		values(label_no_seq.nextval, #{label_text}, #{color_no}, #{pjt_no})
  	</insert>
  	
  	<select id="detailLabel" resultType="kogile.label.domain.LabelVO">
  		select * from label
  		where label_no = #{label_no}
  	</select>
  	
  	<delete id="deleteLabel">
  		delete from label
  		where label_no = #{label_no}
  	</delete>
  	
  	<update id="updateLabel" parameterType="kogile.label.domain.LabelVO">
  		update label set
  		label_text = #{label_text}, color_no = #{color_no}
  		where label_no = #{label_no}
  	</update>
  	
  	<insert id="selectLabel" parameterType="kogile.label.domain.LabelVO">
  		insert into label_info
  		values (label_info_no_seq.nextval, #{label_no}, #{p_no})
  	</insert>
  	
  	<select id="listLabelInfo" resultType="kogile.label.domain.LabelVO">
  		select /*+ index_asc(label_info, LABEL_INFO_NO_PK) */ * from label_info
  		where p_no = #{p_no}
  	</select>
  	
  	<delete id="cancelLabel" parameterType="kogile.label.domain.LabelVO">
  	delete from label_info
  	where p_no = #{p_no}
  	and label_no = #{label_no}
  	
  	</delete>
  	
  </mapper>